

*{

    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:rgb(69, 166, 163) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
   
}
.container{
  width: 80%;
  max-width: 650px;
  background-color: gray;
  padding:20px;
  border-radius: 10px;
}
h1{
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: "Inter", sans-serif;
    text-align: center;
}
h2{
    font-size: 1.5rem;
}
#timer-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem; 
    gap:10px ;
}
#timer-display div{
    padding: 30px;
    background-color: rgb(161, 74, 74);
    border-radius: 10px;
   
    display: flex;
    flex-direction: column;
    text-align: center;
}
span{
    font-size: xx-large;
}
.progress-container{
   background-color: azure;
   height: 10px;
   width: 100%;
   border-radius: 5px;
   margin-top: 1.5rem;
   overflow: hidden;
}#progress-bar{
    background:rgb(147, 236, 14) ;
    width: 0%;
    height:100%;
    transition: width 1s ease-in-out;
    border-radius: 5px;
   
}
